/* PicoCSS already resets the default browser CSS */

body {
  background-image: url("/grid.svg");
  background-repeat: repeat;
  background-color: #0a0a0b;
}

pre {
  margin: 4px;
  padding: 4px;
}

[data-num] {
  font-family: var(--font-numeric),'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
