.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.p-rem {
  padding: 1rem;
}

pre {
  margin: 4px;
  padding: 4px;
}
